name: Elasticsearch Github Action

on: [push, pull_request]

jobs:
  run-action:
    name: Start Elasticsearch
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elasticsearch: ["6.8-SNAPSHOT", "7.x-SNAPSHOT", "8.2.0-SNAPSHOT"]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: ./elasticsearch
        with:
          security-enabled: false
          stack-version: ${{ matrix.elasticsearch }}

      - name: Elasticsearch is reachable
        run: |
          curl --verbose --show-error http://localhost:9200

  run-multiple-nodes:
    name: Start multiple Elasticsearch nodes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elasticsearch: ["6.8-SNAPSHOT", "7.x-SNAPSHOT", "8.2.0-SNAPSHOT"]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: ./elasticsearch
        with:
          security-enabled: false
          stack-version: ${{ matrix.elasticsearch }}
          nodes: 3

      - name: Elasticsearch Node es1 is reachable
        run: |
          curl --verbose --show-error http://localhost:9200

      - name: Elasticsearch Node es2 is reachable
        run: |
          curl --verbose --show-error http://localhost:9201

      - name: Elasticsearch Node es3 is reachable
        run: |
          curl --verbose --show-error http://localhost:9202

      - name: All nodes joined the cluster
        run: |
          curl http://localhost:9200/_nodes/http?filter_path=nodes.*.name

  run-action-custom-port:
    name: Start Elasticsearch with custom port
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elasticsearch: ["6.8-SNAPSHOT", "7.x-SNAPSHOT", "8.2.0-SNAPSHOT"]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: ./elasticsearch
        with:
          security-enabled: false
          stack-version: ${{ matrix.elasticsearch }}
          port: 9250

      - name: Elasticsearch is reachable
        run: |
          curl --verbose --show-error http://localhost:9250

  run-multiple-nodes-custom-port:
    name: Start multiple Elasticsearch nodes with custom ports
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elasticsearch: ["6.8-SNAPSHOT", "7.x-SNAPSHOT", "8.2.0-SNAPSHOT"]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: ./elasticsearch
        with:
          security-enabled: false
          stack-version: ${{ matrix.elasticsearch }}
          nodes: 3
          port: 9250

      - name: Elasticsearch Node es1 is reachable
        run: |
          curl --verbose --show-error http://localhost:9250

      - name: Elasticsearch Node es2 is reachable
        run: |
          curl --verbose --show-error http://localhost:9251

      - name: Elasticsearch Node es3 is reachable
        run: |
          curl --verbose --show-error http://localhost:9252

      - name: All nodes joined the cluster
        run: |
          curl http://localhost:9250/_nodes/http?filter_path=nodes.*.name

  run-with-plugins:
    name: Start Elasticsearch with Plugins
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elasticsearch: [ "7.15.1" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: ./elasticsearch
        with:
          security-enabled: false
          stack-version: ${{ matrix.elasticsearch }}
          plugins: |
            ingest-attachment
            analysis-icu

      - name: Elasticsearch is reachable
        run: |
          curl --verbose --show-error http://localhost:9200

  run-action-with-security:
    name: Start Elasticsearch with security
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elasticsearch: ["8.2.0-SNAPSHOT"]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start Elasticsearch
        uses: ./elasticsearch
        with:
          stack-version: ${{ matrix.elasticsearch }}
          elasticsearch_password: 'changedpassword'

      - name: Elasticsearch is reachable
        # Use --fail to ensure failure on a 401 (not authorized).
        run: |
          curl --verbose --show-error --fail -k -u elastic:changedpassword https://localhost:9200

